.main_div{
background-color: #beb5ad;
margin-left: 33em;
margin-right: 33em;
padding-top: 7em;
padding-bottom:7em;
margin-top: 10em;
border-radius: 10px ;
box-shadow: 4px 4px 24px -4px #412747b2;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: row;
}

h1{
background-color: whitesmoke;
width:7em;
border-radius: 10px;
    }


body{
background-color: #84475b;
  }


.btn_div{
width: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}

button{
background-color: #4c2f40;
color: whitesmoke;
border-radius: 4%;
padding: 14px;
width: 100px;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
border-radius: 4px;
border: none;

}


button:hover{
background-color:whitesmoke ;
border: #4c2f40;
color:#4c2f40 ;
border-width: 2px; 
  }